<%- model_class = Entry -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Client</th>
      <th>Purchase Order</th>
      <th>Description</th>
      <th>Duration</th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.start_at.strftime('%Y-%b-%d') %></td>
        <td><%= entry.client.name %></td>
        <td><%= entry.purchase_order.title %></td>
        <td><%= entry.description %></td>
        <td><%= distance_of_time_in_words(entry.end_at - entry.start_at) %></td>
        <td>
          <%= link_to t('.details', :default => t("helpers.links.details")),
                      entry_path(entry), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>Hours logged: <%= distance_of_time time_billed(@entries), accumulate_on: :hours %></p>
