<%- model_class = Entry -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th class="hidden-xs">Client</th>
      <th class="hidden-xs">Purchase Order</th>
      <th class="hidden-xs hidden-sm">Work Performed</th>
      <th>Duration</th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.start_at.strftime('%b %d') %></td>
        <td class="hidden-xs"><%= entry.client.name %></td>
        <td class="hidden-xs"><%= entry.purchase_order.title %></td>
        <td class="hidden-xs hidden-sm"><%= entry.description %></td>
        <td><%= short_dotiw(entry.end_at - entry.start_at) %></td>
        <td>
          <%= link_to t('.details', :default => t("helpers.links.details")),
                      entry_path(entry), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>Hours Worked: <%= distance_of_time time_worked(@entries), accumulate_on: :hours %></p>
