<%= simple_form_for @entry, :html => { class: 'form-horizontal', novalidate: false } do |f| %>
  <div class="form-group">
    <div class="col-sm-6">
      <%= f.input :start_at, as: :datetime_picker, label_html: { class: 'col-xs-3' } %>
      <%= error_span(@entry[:start_at]) %>
    </div>
    <div class="col-sm-6">
      <%= f.input :end_at, as: :datetime_picker, label_html: { class: 'col-xs-3' } %>
      <%= error_span(@entry[:end_at]) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6">
      <%= f.input :description, as: :text, input_html: { :rows => 10 } %>
      <%= error_span(@entry[:description]) %>
    </div>
    <div class="col-sm-6">
      <%= f.input :parts_used, as: :text, input_html: { :rows => 10 } %>
      <%= error_span(@entry[:parts_used]) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6">
      <%= f.association :purchase_order, collection: Client.order(:name), as: :grouped_select, group_method: :purchase_orders, prompt: t('simple_form.prompts.entry.purchase_order')
 %>
      <%= error_span(@entry[:purchase_order]) %>
    </div>
    <div class="col-sm-6">
      <label class="control-label" for="entry_submit">Submit</label>
      <%= f.button :submit, class: 'btn-primary btn-block', id:'entry_submit' %>
    </div>
  </div>
<% end %>
