<%= simple_form_for @entry, :html => { class: 'form-horizontal', novalidate: false } do |f| %>
  <div class="form-group">
    <div class="col-sm-6">
      <%= f.input :start_at, as: :datetime_picker, label_html: { class: 'col-xs-3' } %>
      <%= error_span(@entry[:start_at]) %>
    </div>
    <div class="col-sm-6">
      <%= f.input :end_at, as: :datetime_picker, label_html: { class: 'col-xs-3' } %>
      <%= error_span(@entry[:end_at]) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6">
      <label for="entry_description" class="control-label">Work Performed</label>
      <textarea rows="10" class="required form-control" name="entry[description]" id="entry_description" placeholder="Description of work performed"></textarea>
      <%= error_span(@entry[:description]) %>
    </div>
    <div class="col-sm-6">
      <label for="entry_parts_used" class="control-label">Parts Used</label>
      <textarea rows="10" class="required form-control" name="entry[parts_used]" id="entry_parts_used" placeholder="Part Numbers, Serial Numbers, Description, etc..."></textarea>
      <%= error_span(@entry[:parts_used]) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6">
      <label for="entry_purchase_order_id">Client / Purchase Order</label>
      <%= grouped_collection_select(:entry, :purchase_order_id, @clients, :purchase_orders, :name, :id, :title, {prompt: 'Select a Purchase Order...'}, {class: 'form-control'}) %>
    </div>
    <div class="col-sm-6">
      <label for="entry_submit">Submit</label>
      <%= f.button :submit, class: 'btn-primary btn-block', id:'entry_submit' %>
    </div>
  </div>
<% end %>
