<%= simple_form_for @entry, :html => { class: 'form-horizontal', novalidate: false } do |f| %>
  <div class="form-group">
    <div class="col-sm-6">
      <div class="col-xs-3 text-right">
        <label for="entry_start_at" class="control-label">Time In</label>
      </div>
      <div class="col-xs-9">
        <div class="input-group" id="start_at_picker">
          <input type="text" class="text required form-control" name="entry[start_at]" id="entry_start_at" required />
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </div>
    </div>
    <%= error_span(@entry[:start_at]) %>
    <div class="col-sm-6">
      <div class="col-xs-3 text-right">
        <label for="entry_end_at" class="control-label">Time Out</label>
      </div>
      <div class="col-xs-9">
        <div class="input-group" id="end_at_picker">
          <input type="text" class="text required form-control" name="entry[end_at]" id="entry_end_at" required />
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </div>
    </div>
    <%= error_span(@entry[:end_at]) %>
  </div>
  <div class="form-group">
    <div class="col-sm-6">
      <label for="entry_description" class="control-label">Work Performed</label>
      <textarea rows="10" class="required form-control" name="entry[description]" id="entry_description" placeholder="Description of work performed"></textarea>
      <%= error_span(@entry[:description]) %>
    </div>
    <div class="col-sm-6">
      <label for="entry_parts_used" class="control-label">Parts Used</label>
      <textarea rows="10" class="required form-control" name="entry[parts_used]" id="entry_parts_used" placeholder="Part Numbers, Serial Numbers, Description, etc..."></textarea>
      <%= error_span(@entry[:parts_used]) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6">
      <label for="entry_purchase_order_id">Client / Purchase Order</label>
      <%= grouped_collection_select(:entry, :purchase_order_id, @clients, :purchase_orders, :name, :id, :title, {prompt: 'Select a Purchase Order...'}, {class: 'form-control'}) %>
    </div>
    <div class="col-sm-6">
      <label for="entry_submit">Submit</label>
      <%= f.button :submit, 'Submit New Entry', class: 'btn-primary btn-block', id:'entry_submit' %>
    </div>
  </div>
<% end %>
