<% content_for :body_class, 'invitation-page' %>

<%= simple_form_for(resource, as: resource_name, url: invitation_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        <h1><%= t 'devise.invitations.edit.header' %></h1>

        <p><%= link_to raw('<span class="btn-split"><span class="imgicon-lg imgicon-lg-google-plus"></span></span> Sign in with Google'), user_omniauth_authorize_path(:google_oauth2, state: "invitation_token=#{invitaion_token}"), :class => 'btn btn-lg btn-success btn-block btn-social btn-google-plus googleplus-login' %></p>

        <p>OR</p>

        <%= f.hidden_field :invitation_token %>

        <fieldset>
          <div class="field">
            <%= f.input :password, class: 'form-control', label: false, placeholder: 'Password', autocomplete: 'off', autofocus: true, required: true %>
          </div>

          <div class="field">
            <%= f.input :password_confirmation, class: 'form-control', label: false, placeholder: 'Confim Password', autocomplete: 'off', required: true %>
          </div>

          <div class="field">
            <%= f.submit t('devise.invitations.edit.submit_button'), class: 'btn btn-lg btn-primary btn-block' %>
          </div>

        </fieldset>
    </div>
  </div>
<% end %>

